<html>
   <body>
    <table>
        <tr>
            <th>
                Sno
            </th>
            <th>
                Temperature
            </th>
            <th>
                Humidity
            </th>    
        </tr>
        {%for i in range(0,len)%}
             <tr>
                <td>
                    {{i+1}}
                </td>
                <td>
                    {{dashboard_data[i][0]}}
                </td>
                <td>
                    {{dashboard_data[i][1]}}
                </td>
             </tr>
             {%endfor%}
    </table>
   </body> 
</html>
